<#macro script_import>
</#macro> 
<#macro script>
</#macro> 
<#macro css_import>
</#macro> 
<#macro css>
</#macro> 
<#macro layout>
<!DOCTYPE html>
<html>
<head>
  <title>${WEB_TITLE!WEB_NAME!} - ${WEB_SUBTITLE!'欢迎使用365借条'}</title>
  <meta name="keywords" content="${META_KEYWORDS!}">
  <meta name="description" content="${META_DESCRIPTION!}">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="${CTPATH}/assets/css/app.css"/>
  <link rel="stylesheet" href="${CTPATH}/assets/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="${CTPATH}/assets/mediaelement/mediaelementplayer.css" />
  <@css_import />
  <#if css ??>
  	<style type="text/css">
  	<@css />
  	</style>
  </#if>
</head>
<body class="blog-body">
<header class="x-layout-100"></header>
<#nested> 
<!--footer class="footer x-sm-footer">
  <p>${OPTION('web_copyright')!'暂未填写版权信息'}</p>
</footer>
<div style="display: none;">
${OPTION('jpblog_statistical_code')!}
</div>
<@script_import />
  <script src="${CTPATH}/assets/js/jquery-2.1.1.min.js"></script>
  <script src="${CTPATH}/assets/mediaelement/mediaelement-and-player.min.js"></script>
<script type="text/javascript">
<@script />
</script-->
</body>
</html>
</#macro>