<#include "_layout.html"/> 
<@layout>
<style>
body{background-color:#f9faf9;padding:3%;}
.title-tip{color:#476076;font-size:1.1em;margin-top:0.5em;padding-left:3%;padding-top:3%;}
.content-tip{border-left:0.25em solid #439ed5;padding-left:0.4em;font-size:1.0em;margin-bottom:3%;margin-left:3%;margin-top:3%;color:#666;}
textarea{border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;border-right:0px;border-left:0px;width:100%;padding:3%;font-size:1.2em;}
input{background-color:#439ed5;border:0px;color:white;padding:12px 72px 12px 72px;font-size:1.2em;}

.item{border-top:1px solid #f0f0f0;padding:1em;padding-bottom:0.5em;}
.item>.user>div:not(:last-child){float:left;}
.item>.user>.username{height:2em;line-height:2em;margin-left:0.8em;font-size:1em;}
.item>.user>.avatar>img{width:2em;height:2em;border-radius:1em;}
.item>.title{color:#476076;font-size:1.0em;margin-top:0.5em;}
.item>.title>.valuable{margin-left:0.8em;background-color:#b00;color:white;border-radius:5px;padding:3px;}
.item>.content{margin-top:0.5em;}
.item>.stat{margin-top:1em;color:#9d9d9d;}
.item>.stat>div:not(:last-child){float:left;}
.item>.stat>div:first-child>img{width:2em;height:2em;}
.item>.stat>div:nth-child(2){height:2em;line-height:2em;margin-left:0.2em;font-size:1em;}
.item>.stat>div:nth-child(4){height:2em;line-height:2em;margin-left:0.2em;font-size:1em;}
.item>.stat>div:nth-child(3){width:2em;height:2em;margin-left:1em;}
</style>
<script src="${CPATH!}/static/plugins/jquery/jquery-2.1.4.min.js"></script>


<div class="title-tip">${content.title!}</div>
<div style="padding:3%;">${content.text!}</div>
<div class="content-tip">发表评论</div>
<div style="background-color:#fff;"><textarea rows="6" placeholder="说点什么吧..."></textarea></div>
<div style="text-align:right;margin-right:3%;margin-top:3%;">
	<input type="submit" value="发表评论" />
</div>
<div class="content-tip">全部评论</div>
<div class="container" id="comment_container">
	<#if page??>
	<#list page.getList() as bean>
	<div class="item">
		<div class="user">
			<div class="avatar"><img src="${CPATH!}/attachment/20171121/86.jpg"/></div>
			<div class="username">${bean.author!}</div>
			<div style="clear:both;"></div>
		</div>
		<div class="content">
			${bean.text!}
		</div>
	</div>
	</#list>
	</#if>
</div>
</@layout>
